.carousel .blogContainer {
    margin-bottom: 3px;
}
.carousel .buttons {
    text-align: center;
}
.carousel .buttons button {
    margin: 0px 5px;
}
/* .carousel {
    position: relative;
} */
/* .carousel .lrButtons {
    position: absolute;
    top: 88%;
    width: 110%;
    left: -5%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
}
.carousel .lrButtons button {
    padding: 5px;
} */

.carousel .buttons button {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 100%;
}
.carousel .buttons .activeButton {
    background-color: #000;
}

.carousel .draftCard .draftTag {
    border-radius: 6px;
    padding: 5px 10px;
    margin-top: -12px;
    background-color: #6b1d2f;
    color: #fff;
} 
.carousel .draftCard .dateTagContainer {
    display: flex;
    justify-content: space-between;
}