/* All */
* {
    margin: 0;
    padding: 0;
}

.adventures {
    /* navbar padding */
    padding: calc(60px) 5% 0px;

    height: calc(100vh - 35px );
    background-color: #f0ede8;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}
.adventures h1 {
    font-size: 2.5rem;
    margin: 20px 0px;
}
.adventures button {
    background-color: transparent;
    border: none;
}
.adventures button:hover {
    cursor: pointer;
} 
.adventures main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.map-wrapper {
    width: 85%;
    height: calc(100% - 40px);
    display: flex;
    flex: 1;
}

.leaflet-popup-content .markerPopup p {
    margin: 0px;
}
.leaflet-popup-content .markerPopup a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}
.leaflet-popup-content .markerPopup a:hover {
    text-decoration: none;
    color: #6b1d2f;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 40px;
}
.settings button {
    width: 40px;
    display: block;
    height: 40px;
}
.settings img {
    width: 30px;
}

/* filter */
.desktopFilter {
    width: 14%;
    min-width: 200px;
    padding-right: 20px;
}
.mobileFilter {
    display: none;
}
.filterClose {
    display: none;
}
.settings .filterToggle {
    display: none;
}
.filterHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.filterTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.filterAction button {
    width: 100%;
    border: 1px solid #b0aba3;
    padding: 12px;
    margin: 5px 0px;
    font-size: 1em;
    color: black;
    border-radius: 10px;
    transition: all 0.3s;
}
.filterAction button:hover {
    background-color: #eae6de;
}
.filters {
    overflow-y: auto;
    scrollbar-gutter: stable;
}
.filter {
    border-bottom: 1px solid black;
    padding: 5px 10px;
    margin-top: 10px;
}
.filterBy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filterOption {
    padding: 2px 10px;
    line-height: 2;
    margin: 5px 0px;
}
.filterOption label {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.filterOption input {
    accent-color: #6b1d2f;
}
.filterOption label:hover {
    cursor: pointer;
}


/* Screen size */
@media (max-width: 992px) {
    .adventures h1 {
        margin-bottom: 0px;
    }
    .adventures main {
        flex-direction: column;
        align-items: end;
    }
    .adventures .map-wrapper {
        height: 90%;
        width: 100%;
        border: 1px solid rgb(205, 205, 205);
    }
    .desktopFilter {
        display: none;
    }
    .settings .filterToggle {
        display: block;
    }

    /* FILTER */
    .mobileFilter {
        display: block;
        transform: translateY(100%);
        height: 55vh;
        position: fixed;
        z-index: 1000;
        bottom: 0;
        left: 0;
        right: 0;
        width: 95%;
        margin: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #eae6e0af;
        box-shadow: 0px 0px 10px #b0aba3;
        backdrop-filter: blur(10px);
        transition: all 0.4s;
    }
    .mobileFilterContent {
        height: 100%;
        padding: 10px 25px 10px;
        display: flex;
        flex-direction: column;
    }
    .filterClose {
        display: block;
    }
    .openFilter {
        transform: translateY(0);
    }
}
@media (max-width: 500px) {
    .adventures h1 {
        font-size: 2.1em;
        line-height: 1.2;
    }
}