/* All */
* {
    margin: 0;
    padding: 0;
}

.adventures {
    /* navbar padding */
    padding-top: 60px;

    height: calc(100vh - 95px);
    background-color: #f0ede8;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.map-wrapper {
    width: 70vw;
    display: flex;
}

.leaflet-popup-content .markerPopup p {
    margin: 0px;
}
.leaflet-popup-content .markerPopup a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}
.leaflet-popup-content .markerPopup a:hover {
    text-decoration: none;
    color: #6b1d2f;
}

/* filter */
.filter {
    margin-right: 20px;
}
.filter label {
    padding-right: 15px;
}
.yearFilter {
    display: flex;
    flex-direction: column;
    box-shadow: inset #c6c6c6 2px 2px 15px;
    width: 100px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}