/* All */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog {
    /* navbar padding & footer padding?*/
    padding: calc(60px * 1.1) 5% 50px;

    background-color: #f0ede8;
}
.blog header {
    margin-bottom: 50px;
}
.blog main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heroImg {
    width: 100%;
    height: 600px;
    object-fit: cover;
    /* FIXME! change later for flexibility */
    object-position: 0 70%;
}
.title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 5px;
}
.mainTitle {
    width: 75%;
}
.dateLocation {
    text-align: right;
}
.title h1 {
    font-size: 4em;
}
.title p {
    font-size: 1.1em;
}
.info {
    width: 24%;
}
.content {
    width: 73%;
}
.blog .asideSub {
    background-color: #dbdbdb;
    box-shadow: 0px 0px 5px #bebebe;
    border-radius: 10px;
    padding: 10px 20px 20px;
}
.blog main section, main aside {
    margin-bottom: 40px;
}
.blog main h2 {
    margin-bottom: 15px;
}
.blog main section .subsection {
    margin-bottom: 30px;
}
.blog main section .subsection h3 {
    margin-bottom: 15px;
}
.blog main section .subsection p {
    margin-bottom: 12px;
    line-height: 2;
}

.blog main table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    /* box-shadow: #454545 1px 1px 3px; */
}
.blog main table th {
    background-color: #454545;
    color: #fff;
}
.blog main table td {
    background: #fff;
}
.blog main table th, main table td{
    border: 1.5px solid #454545;
    padding: 5px 10px;
    text-align: left;
}


/* smartphone */
@media (max-width: 992px) {
    .blog main {
        flex-direction: column;
    }
    .heroImg {
        /* FIXME! make it flexible or get value when uploading */
        object-position: 74% 0%;
    }
    .info {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .title {
        flex-direction: column;
    }
    .mainTitle {
        width: 100%;
        margin-bottom: 10px;
    }
    .dateLocation {
        display: flex;
    }
    .dateLocation p:first-child {
        margin: 0 10px;
    }
}