/* All */
* {
    margin: 0;
    padding: 0;
}

/* Home.css */
.home {
    background-color: #f0ede8;
    height: 100vh;
    display: flex;
    align-items: center;
}
.home-text {
    font-size: 30px;
    color: #6b1d2f;
    padding: 20px;
}