/* Home.css */
.home {
    background-color: #f0ede8;
    height: calc(100vh - 35px);
    display: flex;
    align-items: center;
}
.home h1 {
    font-size: 2rem;
    color: #6b1d2f;
    padding: 20px;
}