footer {
    height: 35px;
    width: 100%;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afaead;
    background-color: #eae6e0;
    box-shadow: 0 0 2px #b0aba3;
}