nav {
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eae6e0;
    box-shadow: 0 0 5px #b0aba3;
    z-index: 1;
    padding: 3px 15px;
}
nav .logo {
    height: 100%;
    padding-left: 10px;
}
nav .nav-items a {
    margin: 0px 10px;
    padding: 10px;
    position: relative;
    transition: all 0.3s;
}
nav .nav-items a:hover {
    color: #6b1d2f;
}

nav .nav-items a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background: #6b1d2f;
    transition: width 0.3s;
}
nav .nav-items a:hover::after {
    width: 100%;
}