.recommended {
    padding-bottom: 50px;
}
.recommended h2 {
    font-size: 2.5em;
}
.recommended h3 {
    font-size: 1.6em;
}
.recommended .recommendedCards {
    display: flex;
    flex-wrap: wrap;
}
.recommended .card {
    margin: 2% 1%;
    border: 1px solid #b0aba3;
    background-color: #eae6e0;
    border-radius: 10px;
    transition: all 0.3s;
    width: 23%;
    min-width: 250px;
}
.recommended .cardInfo {
    padding: 5px 20px 15px;
}
.recommended a {
    text-decoration: none;
    color: black;
}
.recommended .card:hover {
    background-color: #f3f1ed;
    box-shadow: 0px 0px 10px #5b5a58;
}
.recommended img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


/* Screen size */
@media (max-width: 1430px) {
    .recommended .card {
        width: 31%;
    }
}
@media (max-width: 1110px) {
    .recommended .card {
        width: 48%;
    }
}
@media (max-width: 600px) {
    .recommended .card {
        width: 98%;
    }
}