/* All & Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    letter-spacing: 0.02em; 
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 2rem;
    margin: 20px 0px;
    line-height: 1.2;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1.05rem;
}
p {
    font-size: 1rem;
}
button {
    background-color: transparent;
    border: none;
}
button:hover {
    cursor: pointer;
}
main {
    width: 100%;
    height: 100%;
}
.mainContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* FONTS */
@font-face {
    font-family: "IM_Fell_French_Canon_SC";
    src: url("/font/IM_Fell_French_Canon_SC/IMFellFrenchCanonSC-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather";
    src: url("/font/Merriweather/static/Merriweather_24pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}